
main {
    background-color: var(--background-container);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar {
    padding: 0 50px;
}

.navbar > div{
    gap: 20px;
}


.settings-icon {
    will-change: transform;
    transition: transform 0.5s 0.5s linear;
}

.menu__container-settings:hover .settings-icon {
    transform: rotate(180deg);
}
